
*{
    text-align: center;
}

body{
    background-color:black;
}


img{
     width: 65%;       /* Largura da imagem */
    height: 65%;       /* Altura da imgem */
    opacity: 100%;
    border: 2.5px solid;
    border-color: white;
}

img:hover{
    opacity: 60%;
    filter: opacity();
}

#gorila{
    text-align: center;
    zoom: 1;
}
#gorila:hover{
    zoom: 1.25;
}

h1{
    text-align: center;
    color: white;
}

h2{
    color: white;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: blanchedalmond;
}
